/.vscode
/.vs/DatingApp/DesignTimeBuild/.dtbcache.v2
/.vs
/DatingApp.API/DatingApp.API.csproj.user
NUnitTests/bin/Debug/netcoreapp3.1/appsettings.Development.json
NUnitTests/bin/Debug/netcoreapp3.1/appsettings.json
NUnitTests/bin/Debug/netcoreapp3.1/AutoMapper.dll
NUnitTests/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
NUnitTests/bin/Debug/netcoreapp3.1/CloudinaryDotNet.dll
NUnitTests/bin/Debug/netcoreapp3.1/DatingApp.API.dll
NUnitTests/bin/Debug/netcoreapp3.1/DatingApp.API.exe
NUnitTests/bin/Debug/netcoreapp3.1/DatingApp.API.pdb
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.DotNet.InternalAbstractions.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
NUnitTests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
NUnitTests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
NUnitTests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
NUnitTests/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
NUnitTests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
NUnitTests/bin/Debug/netcoreapp3.1/nunit.engine.api.dll
NUnitTests/bin/Debug/netcoreapp3.1/nunit.engine.core.dll
NUnitTests/bin/Debug/netcoreapp3.1/nunit.engine.dll
NUnitTests/bin/Debug/netcoreapp3.1/nunit.framework.dll
NUnitTests/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.dll
NUnitTests/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
NUnitTests/bin/Debug/netcoreapp3.1/NUnitTests.deps.json
NUnitTests/bin/Debug/netcoreapp3.1/NUnitTests.dll
NUnitTests/bin/Debug/netcoreapp3.1/NUnitTests.pdb
NUnitTests/bin/Debug/netcoreapp3.1/NUnitTests.runtimeconfig.dev.json
NUnitTests/bin/Debug/netcoreapp3.1/NUnitTests.runtimeconfig.json
NUnitTests/bin/Debug/netcoreapp3.1/package-lock.json
NUnitTests/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
NUnitTests/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
NUnitTests/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
NUnitTests/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
NUnitTests/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
NUnitTests/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
NUnitTests/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
NUnitTests/bin/Debug/netcoreapp3.1/System.Text.Json.dll
NUnitTests/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
NUnitTests/bin/Debug/netcoreapp3.1/testhost.dll
NUnitTests/bin/Debug/netcoreapp3.1/testhost.exe
NUnitTests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/Data/UserSeedData.json
NUnitTests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
NUnitTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
NUnitTests/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
NUnitTests/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
NUnitTests/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
NUnitTests/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
NUnitTests/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
NUnitTests/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
NUnitTests/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
NUnitTests/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
NUnitTests/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
NUnitTests/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
NUnitTests/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
NUnitTests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
NUnitTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
NUnitTests/obj/NUnitTests.csproj.nuget.dgspec.json
NUnitTests/obj/NUnitTests.csproj.nuget.g.props
NUnitTests/obj/NUnitTests.csproj.nuget.g.targets
NUnitTests/obj/project.assets.json
NUnitTests/obj/project.nuget.cache
NUnitTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
NUnitTests/obj/Debug/netcoreapp3.1/NUnitTests.AssemblyInfo.cs
NUnitTests/obj/Debug/netcoreapp3.1/NUnitTests.AssemblyInfoInputs.cache
NUnitTests/obj/Debug/netcoreapp3.1/NUnitTests.assets.cache
NUnitTests/obj/Debug/netcoreapp3.1/NUnitTests.csproj.CopyComplete
NUnitTests/obj/Debug/netcoreapp3.1/NUnitTests.csproj.CoreCompileInputs.cache
NUnitTests/obj/Debug/netcoreapp3.1/NUnitTests.csproj.FileListAbsolute.txt
NUnitTests/obj/Debug/netcoreapp3.1/NUnitTests.csprojAssemblyReference.cache
NUnitTests/obj/Debug/netcoreapp3.1/NUnitTests.dll
NUnitTests/obj/Debug/netcoreapp3.1/NUnitTests.genruntimeconfig.cache
NUnitTests/obj/Debug/netcoreapp3.1/NUnitTests.pdb
